Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [ ]:
variable = ["Hello", [1, 2, 3], 3.14, (4, 5, 6)]
for i in variable :
  print(type(i))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

In [ ]:
var1 = ' '                            # (i) An space character a string
var2 = '[ DS , ML , Python]'         # (ii) A string that looks like a list, but it's actually just a string
var3 = ['DS', 'ML', 'Python']        # (iii) A real list of strings
var4 = 1.                            # (iv) A float value

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [ ]:
result = 10/5
print(result)

modulus  = 15 % 7
print(modulus )

division = 95 // 45
print(division)

result1 = 5 ** 4
print(result1)

2.0
1
2
625

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [ ]:
list = [3.14,"Python", True, None,[1, 2, 3],(4, 5),{7, 8, 9}]

for i in list :
  print(type(i))

<class 'float'>
<class 'str'>
<class 'bool'>
<class 'NoneType'>
<class 'list'>
<class 'tuple'>
<class 'set'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [ ]:
a = 80
b = 2

count = 0

while a % b == 0:
    a = a // b
    count += 1

print(count)

4

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [2]:
numbers = [1, 3, 5, 6, 9, 11, 12, 14, 15, 18,
           20, 21, 22, 24, 27, 28, 30, 33, 35, 36,
           37, 39, 40, 42, 45]

for i in numbers:
  if i % 3 == 0:
    print(i) # divisible by 3

  else :print(i) # divisible by 3

1
3
5
6
9
11
12
14
15
18
20
21
22
24
27
28
30
33
35
36
37
39
40
42
45

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [3]:
# mutable

list = [1, 2, 3,10]
print(list)

list[1] = 40
print(list)


# immutable


a = "hello"
print(a)

b = a.replace("h", "g")
print(b)
print( a)

[1, 2, 3, 10]
[1, 40, 3, 10]
hello
gello
hello